/* Users.css */

.users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  .users-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    width: 250px;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
    background-color: #32e3fa;
  }
  
  .card h2 {
    color: #333;
  }
  
  .card p {
    color: #666;
  }
  