body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Adjust this as needed to vertically center within the viewport or a specific height */
}

.app-box {
  display: inline-block;
  padding: 50px 80px;
  margin-top: 10px;
  background-color: lightBlue;
  box-shadow: 0 4px 8px rgba(212, 212, 212, 0.2);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.app-box h1 {
  margin-bottom: 20px;
}

.app-box .input-container {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  background-color: rgb(241, 208, 58);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}